.schedules{
    flex: 60% 1 1;
}

.schedules > header{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    margin: 0 0 1em 0;
    position: sticky;
    top: calc(4em + 1vh);
    background-color: var(--contrast-color)
}
.schedules > header > form{
    margin: 0;
}

.schedules header h1{
    margin: 0
}

.group{
    border-top: 0.5em solid var(--main-color);
    background-color: var(--secondary-color);
    padding: 1em;
    margin: 0.5em 0;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
 }
.course{
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course {
    color: inherit;
    text-decoration: none;
    transition: ease-in-out .2s;
    margin: 1em 1em;
    padding: 1em 0;
}
.course a {
    color: inherit;
}
.course:hover {
    color: var(--contrast-color);
    background: var(--main-color);
    padding: 2em 1em;
    margin: 0;
}

.assignment {
    color: var(--contrast-color);
    background-color: var(--main-color);
    padding: .25em .5em;
}
.assignment p, .assignment header, .assignment h4{
    margin: 0;
}

.assignment header{
    display: flex;
    justify-content: space-between;
    align-items:  start;
}
.assignment aside{
    font-size: .9em;
}

.course:hover .assignment {
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: .25em .5em;
}
