html{
    font-size: 2.5vmax;
    font-size: max(2.5vh);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #272932;
}

body{
    font-size:0.9em; /* Change this for general text size */
}

h1,h2,h3,h4,h5,h6{
    margin: 0 0 0.5em 0;
    font-weight: bold;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.7em;
}
h3{
    font-size: 1.5em;
    border-bottom: .1rem solid #0004;
}
h4{
    font-size: 1.3em;
}
h5{
    font-size: 1.2em;
}
h6{
    font-size: 1.1em;
}

strong{
    background-color: var(--alarm-color);
    color: var(--contrast-color);
    padding: .5ch 1ch;
    display: inline-block;
}

a{
    color: var(--main-color);
    text-decoration: none;
}
a:hover a:not(.test){
    color: var(--accent-color);
}

i{
    font-size: 1.5em;
    margin: 0 .5ch;
}


@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: normal;
    src: local('../static/assets/typography/AtkinsonHyperlegible-Regular.ttf');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: bold;
    src: local('../static/assets/typography/AtkinsonHyperlegible-Bold.ttf');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: normal;
    src: local('../static/assets/typography/AtkinsonHyperlegible-Italic.ttf');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: bold;
    src: local('../static/assets/typography/AtkinsonHyperlegible-BoldItalic.ttf');
}