{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/schedules.css') }}">
{% endblock %}

{% block content %}
    <main class="schedules">
        <header>
            <h1>Planering </h1>
            <form method="POST" action="{{ url_for('schedules') }}">
                <div class="input"> <!-- Week -->
                    <label for="week-select">Vecka:</label>

                    <select name="week-select" id="week-select" onchange="this.form.submit()">
                        <option value="{{currentWeek}}" id="current-week">Nuvarande</option>
                        {% for week in schoolWeeks %}
                        <option value="{{week}}"
                            {% if week == selectedWeek %}
                            selected
                            {% endif %}
                        >{{week}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input"> <!-- Group -->
                    <label for="group-select">Klass:</label>

                    <select name="group-select" id="group-select" onchange="this.form.submit()">
                        <option value='0' {% if selectedGroupID == 0 %} selected {% endif %}>-- Alla --</option>
                        
                        {% for group in groups %}
                        <option value="{{group['id']}}" 
                            {% if group['id'] == selectedGroupID %}
                            selected
                            {% endif %}
                        >
                        {{group.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </header>

        <div class="groups">
            {% for group in groups %}
            {% if group['id'] == selectedGroupID or selectedGroupID == 0  %}
            <div class="group" id="{{group.name}}">
                <h2>{{groups[group].name}}</h2>
                <div class="courses">
                    {% for course in groups[group].courses %}
                    <div class="course" id="{{course['id']}}">
                        <section>
                            <a href="schedule/{{group}}/{{course}}?week={{selectedWeek}}" type="course" id="{{course.name}}">
                                <h3>{{groups[group].courses[course].name}}</h3>
                                <p>{{groups[group].courses[course].weekplan[selectedWeek]}}</p>
                            </a>
                        </section>
                        <aside class="assignments">
                            <h6>Senaste uppgift:</h6>
                                <div class="assignment">
                                    <a href="assignment/{{groups[group].courses[course].assignments[-1].id}}">
                                        <h4>{{groups[group].courses[course].assignments[-1].name}}</h4>
                                        <p>{{groups[group].courses[course].assignments[-1].brief}}</p>
                                    </a>
                                </div>
                        </aside>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}