{% extends 'layout.html' %}

{% block content %}

    <section class="schedule">
        <header>
            <h1>Planering </h1>
            <div class="input"> <!-- Week -->
                <label for="week-select">Vecka:</label>

                <select name="week-select" id="week-select">
                    <option value="{{current_week}}" id="current-week">Denna Vecka: ({{current_week}})</option>
                    {% for week in schoolWeeks %}
                    <option value="{{week}}">{{week}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input"> <!-- Group -->
                <label for="group-select">Klass:</label>

                <select name="group" id="group-select">
                    <option value="">-- Alla --</option>
                    {% for group in groups %}
                    <option value="{{group}}">{{group}}</option>
                    {% endfor %}
                </select>
            </div>
        </header>

        <div class="groups">
            {% for group in groups %}
            <div class="group" id="22te4i">
                {% for course in group %}
                <section>
                    <a href="schedule/{{course.name}}" type="course" id="{{course.name}}">
                        <h3>{{course.name}}</h3>
                        <p>{{course.weekplan[current_week]}}</p>
                    </a>
                </section>

                <aside class="assignments">
                    <h3>Assignments</h3>
                    {% for course in group %}
                        <h4>{{name}}</h4>
                        {% for assignment in course.assignments %}
                            <a href="assignment/{{assignment.id}}">{{assignment.brief}}</a>
                        {% endfor %}
                    {% endfor %}
                </aside>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}