{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/schedule.css') }}">
{% endblock %}

{% block content %}
<main>
    <header>
        <h1>Loggbok {{course.name}}</h1>
    </header>
    
    <section class="schedule">
        <ul>
            {% for week in course['weekplan'].keys() %}
            <li id="{{week}}" {% if week == selectedWeek %} class="current-week"{% endif %}>
                <h2>Vecka {{week}}</h2>
                <div>
                    {{course['weekplan'][week]}}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

<aside class="assignments">
    <h3>Uppgifter</h3>
    <ul>
        {% for assignment in course['assignments'] %}
        <li class = "assignment">
            <a href="{{assignment.link}}">
                <p>
                    {% if assignment['start-week'] != '' %}
                        v.{{assignment['start-week']}} - 
                    {% endif %}
                    {% if assignment['end-week'] != '' %}
                        v.{{assignment['end-week']}}
                    {% endif %}
                </p>
                <h3>{{assignment.name}}</h3>
                <div>
                    {{assignment.brief}}
                </div>            
            </a>
        </li>
        {% endfor %}
    </ul>
</aside>

<script src="{{ url_for('static',filename='js/schedule.js') }}"></script>
{% endblock %}